*~
*.a
*.o
*.so
*.dylib
*.dll
__pycache__/
*.py[cod]
/macposts/_version.py
/build/
/dist/
*.egg-info
*.patch
*.diff
TAGS
tags
.ipynb_checkpoints/
.dir-locals-2.el
.DS_Store
/.vscode/
/examples/local_examples/
/.cache/
compile_commands.json
