name: CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

jobs:
  standard:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest]
        python: ["3.8", "3.9", "3.10", "3.11"]

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
        persist-credentials: false

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}

    - name: Build and install
      run: pip install --verbose .[test]

    - name: Test
      run: pytest
