name: Release

on:
  push:
    tags: ["v*"]

jobs:
  sdist:
    name: Release source distribution
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Build sdist
      run: pipx run build --sdist

    - uses: actions/upload-artifact@v3
      with:
        path: dist/*.tar.gz

  wheels:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest]

    name: Release wheels on ${{ matrix.platform }}
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
        persist-credentials: false

    - uses: pypa/cibuildwheel@v2.11.2
      env:
        CIBW_ARCHS: native
        # We do not support PyPy (for now) and SNAP does not build for musl.
        CIBW_SKIP: "pp* *-musllinux_*"

    - uses: actions/upload-artifact@v3
      with:
        path: wheelhouse/*.whl

  upload:
    needs: [sdist, wheels]
    name: Upload artifacts to assets
    runs-on: ubuntu-latest

    steps:
    - uses: actions/download-artifact@v3
      with:
        name: artifact
        path: dist

    - name: Create checksums
      run: sha256sum * > SHA256SUMS
      working-directory: dist

    - uses: softprops/action-gh-release@v1
      with:
        files: dist/*
